/* Press Start 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Work+Sans&display=swap');
/* Silkscreen */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* Quantico */
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

h1 {
    color: #094067;
    font-family: "Silkscreen";
}
body {
    font-family: "Press Start 2P";
}
a {
    font-family: "Quantico";
}