/* Press Start 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Work+Sans&display=swap');
/* Silkscreen */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* Quantico */
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

h1,h2 {
    color: green;
    font-family: "Silkscreen";
    background-color: #5FBDFF;
    text-align: center;
}
a {
    font-family: "Quantico";
}
body {
    background-color: #404258;
    font-family: "Press Start 2P";
    margin: 0px;
}
main{
    max-width: 1350px;
    margin: auto;
    background: #C5FFF8;
    padding: 10px;
}
section {
    margin: 20px;
}

/* Projects */
.projectImg {
    position: relative;
    left: 800px;
    background-color: #5FBDFF;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 0 10px #7B66FF;
}
.projectLink {
    color: green;
    background-color: #5FBDFF;
    text-decoration: none;
}
.projectLink:hover {
    background-color: #404258;
}
.project:active {
    background-color: #C5FFF8;
}
.projectLink:visited {
    color: #7B66FF;
}

/* Nav */
.navbar ul {
    list-style-type: none;
    background-color:#50577A;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a {
    color: #5FBDFF;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #7B66FF;
}
.navbar a:active {
    color: #C5FFF8;
}
.navbar li{
    float: left;
}
.navbar {
    top: 0px;
    position: sticky;
}
#backUpLink {
    position: static;
}

/* Form */
.emailInfo{
    margin: 1px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Icon */