/* Press Start 2P */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Work+Sans&display=swap');
/* Silkscreen */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
/* Quantico */
@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');

h1,h2,h3 {
    color: green;
    font-family: "Silkscreen";
    background-color: #5FBDFF;
    text-align: center;
}
a {
    font-family: "Quantico";
}
body {
    background-color: #404258;
    font-family: "Press Start 2P";
    margin: 0px;
}
main{
    max-width: 1350px;
    margin: auto;
    background: #C5FFF8;
    padding: 10px;
}
section {
    margin: 20px;
}
.navbar {
    top: 0px;
    position: sticky;
}

/* Nav */
.navbar ul {
    list-style-type: none;
    background-color:#50577A;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a {
    color: #5FBDFF;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: #7B66FF;
}
.navbar li{
    float: left;
}
